<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="center-img-holder">
      <img src="assets/marsTouched.png" alt="mars">

    </div>
    <h1 class="name">RYAN</h1>
    <h1 class="name">HOLSTEIN</h1>
    <div class="txt-holder">
        <p class="cs" data-text="Coming Soon">Coming Soon</p>
    </div>
  </body>
</html>


<!-- ["Coming Soon", "demnächst", "arrive bientôt", "近日公開", "скоро", "próximamente", '快来了', ""] -->
